@use '../var';

.infos-bar{
    width: 70%;
    padding: 16px 24px;
    background-color: var.$txt-color;
    border-radius: 8px;
    border: 1px solid rgb(100, 100, 100);
    background-color: rgba(0, 0, 0, .40);
    display: flex;
    justify-content: space-between;

    &__infos{
        display: flex;
        gap: 40px;

        &__item{
            font-size: 14px;

            b{
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width:640px){
        display: block;
        &__infos{
            display: block;

            &__item{
                margin-bottom: 24px ;
            }
        }
    }
    
    @media (max-width:1024px){
        &__infos{
            gap: 16px;
        }
    }
    
}