@use 'var';
@use 'hero';
@use 'components/infos-bar';
@use 'components/btns';
@use 'components/event';

*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: var.$txt-color;
    list-style: none;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    @media (max-width:640px){
        max-width: 80%;
    }
    @media (max-width:1024px){
        max-width: 90%;
    }
}